@keyframes up {
  from {
    top: 50px;
    opacity: 0;
    filter: blur(3px);
  }
  to {
    top: 0px;
    opacity: 1;
    filter: blur(0px);
  }
}
@keyframes down {
  from {
    height: 0vh;
    opacity: 0;
    filter: blur(2px);
  }
  to {
    height: 100vh;
    opacity: 1;
    filter: blur(0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
html li {
  list-style-type: none;
}
html label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
html input, html select {
  width: 100%;
  display: block;
  background-color: rgba(255, 255, 255, 0.16);
  border: none;
  border-radius: 8px;
  padding-left: 1.4rem;
}
html input::placeholder, html select::placeholder {
  font-size: 1.6rem;
}
html input:hover, html select:hover {
  background-color: rgba(255, 255, 255, 0.24);
}
html select:hover {
  cursor: pointer;
}
html button {
  cursor: pointer;
}
html textarea {
  resize: none;
}
html code {
  white-space: pre-wrap;
}

:root {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

body {
  background-color: #051D3B;
  max-width: 144rem;
  margin: 0 auto;
  height: 100vh;
}
body header.main-header {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  align-items: center;
  padding: 3.2rem 3.2rem 0;
  margin-bottom: 4rem;
}
body header.main-header #barraPesquisa {
  width: 75.2rem;
  min-height: 5.6rem;
  background-color: rgba(255, 255, 255, 0.16);
  color: #ffffff;
  border: none;
  border-radius: 8px;
  margin-right: 4rem;
  padding-left: 1.6rem;
}
body header.main-header #barraPesquisa::placeholder {
  font-size: 1.6rem;
}
body header.main-header #barraPesquisa:focus {
  outline: none;
}
body header.main-header .perfil-usuario {
  min-width: 10.6rem;
  height: 5.6rem;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s background-color;
}
body header.main-header .perfil-usuario:hover {
  background-color: rgba(255, 255, 255, 0.08);
}
body header.main-header .perfil-usuario .perfil-opcoes {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
}
body header.main-header .perfil-usuario .perfil-opcoes #foto-usuario {
  margin-right: 0.8rem;
}
body header.main-header .perfil-usuario .perfil-opcoes #nome-usuario {
  color: #ffffff;
}
body header.main-header .mobile-header-interacoes {
  display: none;
  visibility: hidden;
}
body header.main-header .mobile-header-interacoes > button {
  border: none;
  background-color: transparent;
}
body header.main-header .mobile-header-interacoes > button:first-child {
  margin-right: 3.2rem;
}
body header.main-header .mobile-menu {
  display: none;
  visibility: hidden;
}
body main {
  display: flex;
  padding: 0 3.2rem;
}
body main section.nav-section {
  width: 31.2rem;
  font-size: 1.6rem;
}
body main section.nav-section #menu > h2 {
  font-size: 1.2rem;
  letter-spacing: 0.25rem;
  margin-bottom: 1.4rem;
}
body main section.nav-section #menu .opcoes-menu .opcao-menu:not(:last-child) {
  margin-bottom: 1.6rem;
}
body main section.nav-section #menu .opcoes-menu .opcao-menu > button {
  display: flex;
  align-items: center;
  color: #ffffff;
  width: 100%;
  background-color: transparent;
  border: none;
}
body main section.nav-section #menu .opcoes-menu .opcao-menu > button .opcao-icone {
  margin-right: 1.6rem;
}
body main section.nav-section #menu .opcoes-menu .opcao-menu > button > p {
  font-size: 1.6rem;
}
body main section.criacao-projeto {
  display: none;
  visibility: hidden;
  position: relative;
}
body main section.criacao-projeto.active {
  display: flex;
  visibility: visible;
  animation: 0.75s up;
}
body main section.projetosComunidade {
  display: none;
  visibility: hidden;
  position: relative;
}
body main section.projetosComunidade.active {
  display: block;
  visibility: visible;
  animation: 0.75s up;
}

@media (max-width: 1024px) {
  body header.main-header #barraPesquisa {
    width: 43.1rem;
    margin-right: 0;
  }
  body header.main-header .perfil-usuario {
    display: none;
    visibility: hidden;
  }
  body header.main-header .mobile-header-interacoes {
    display: block;
    visibility: visible;
  }
  body header.main-header .mobile-menu {
    padding: 2.4rem 0 0 2.4rem;
    position: absolute;
    min-width: 25.4rem;
    height: 90vh;
    background-color: #2D415B;
    border-radius: 8px;
    top: 10vh;
    right: 0;
    z-index: 2;
  }
  body header.main-header .mobile-menu.active {
    display: block;
    visibility: inherit;
    animation: 0.5s down;
  }
  body header.main-header .mobile-menu .mobile-opcoes-menu .mobile-opcao-menu:not(:last-child) {
    margin-bottom: 1.6rem;
  }
  body header.main-header .mobile-menu .mobile-opcoes-menu .mobile-opcao-menu > button {
    border: none;
    background-color: transparent;
    color: #ffffff;
    display: flex;
    align-items: center;
    font-size: 1.6rem;
  }
  body header.main-header .mobile-menu .mobile-opcoes-menu .mobile-opcao-menu > button > img {
    margin-right: 1.6rem;
  }
  body header.main-header .mobile-menu .mobile-opcoes-menu::after {
    content: "";
    display: block;
    width: 20.6rem;
    margin: 2.4rem auto 3.6rem;
    background-color: rgba(255, 255, 255, 0.3);
    height: 1px;
  }
  body header.main-header .mobile-menu .mobile-perfil {
    display: flex;
    align-items: center;
  }
  body header.main-header .mobile-menu .mobile-perfil > img {
    margin-right: 0.8rem;
  }
  body main section.nav-section {
    display: none;
    visibility: hidden;
  }
}

/*# sourceMappingURL=global.css.map */
