@import './global.scss';

body {
  main {
    section.projetosComunidade {
      max-width: 1064px;
      display: none;
      visibility: hidden;

      .codigo-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        
        
        .codigo-comunidade {
          width: 52rem;
          margin-bottom: 2.4rem;

          .codigo-content {
            min-height: 28.8rem;
            border: 2.4rem solid #9AFF6B;
            width: 100%;
            border-radius: 0.8rem;
            padding: 1.2rem;

            .botoes-mac {
              > img {
                &:not(:last-child) {
                  margin-right: 0.8rem;
                }
              }          
            }
            
            #areaCodigo {              
              display: block;
              max-width: 44.8rem;
              background-color: $dark-blue;
              color: $white;
              border: none;
              height: 20rem;
              font-size: 1.1rem;
            }
          }

          .projeto-dados {
            margin: 2.4rem 0 0 2.4rem;

            > article {
              .projeto-titulo {
                font-size: 2.1rem;
                margin-bottom: 0.8rem;
              }
              .projeto-descricao {
                font-size: 1.6rem;
                color: rgba($color: $white, $alpha: 0.6)
              }
            }

            .projeto-social {
              margin-top: 2.4rem;
              display: flex;
              align-items: center;
              justify-content: space-between;

              .projeto-interacoes {
                display: flex;
                align-items: center;

                > span {
                  display: flex;
                  align-items: center;
                  margin-right: 1.8rem;
                  font-size: 1.6rem;

                  > img {
                    margin-right: 1rem;
                  }
                }
              }

              .projeto-autor {
                display: flex;
                align-items: center;
                font-size: 1.6rem;
                
                > img {
                  margin-right: 0.8rem;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media(max-width: 1024px) {
  body {
    main {
      justify-content: center;
      padding: 0; 
      section.projetosComunidade {
        .codigo-container {
          width: 100%;
          .codigo-comunidade {
            width: 90%;
            margin: 0 auto 3.2rem;
            
          }
        }
      }
    }
  }
}